APP_NAME=Fundorex
APP_ENV=production
APP_KEY=base64:your_laravel_app_key_here
APP_DEBUG=false
APP_URL=http://localhost

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=YOUR_DATABASE_HOST
DB_PORT=3306
DB_DATABASE=YOUR_DATABASE_NAME
DB_USERNAME=YOUR_DATABASE_USERNAME
DB_PASSWORD=YOUR_DATABASE_PASSWORD


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=YOUR_SMTP_HOST_NAME
MAIL_PORT=25
MAIL_USERNAME=YOUR_SMTP_USERNAME
MAIL_PASSWORD=YOUR_SMTP_USERNAME_PASSWORD
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=null
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"


PAYSTACK_PUBLIC_KEY=pk_test_your_paystack_public_key_here
PAYSTACK_SECRET_KEY=sk_test_your_paystack_secret_key_here
PAYSTACK_PAYMENT_URL=https://api.paystack.co
MERCHANT_EMAIL=your_email@example.com

XGENIOUS_API_URL="https://xgenious.com/api/"
XGENIOUS_API_KEY="your_xgenious_api_key_here"
XGENIOUS_API_ACTION="license_verify"
XGENIOUS_API_AUTHOR="xgenious"

RSS_FEED_URL="/feeds"
RSS_FEED_TITLE="My feeds"
RSS_FEED_DESCRIPTION="The description of the feed."
RSS_FEED_LANGUAGE=en

MOLLIE_KEY=test_your_mollie_key_here

FLW_PUBLIC_KEY=FLWPUBK_TEST-your_flutterwave_public_key_here
FLW_SECRET_KEY=FLWSECK_TEST-your_flutterwave_secret_key_here
FLW_SECRET_HASH=your_secret_hash

PAYPAL_CLIENT_ID=your_paypal_client_id_here
PAYPAL_SECRET=your_paypal_secret_here
PAYPAL_MODE=sandbox

PAYTM_ENVIRONMENT=local
PAYTM_MERCHANT_ID=your_paytm_merchant_id
PAYTM_MERCHANT_KEY="your_paytm_merchant_key"
PAYTM_MERCHANT_WEBSITE="WEBSTAGING"
PAYTM_CHANNEL=""
PAYTM_INDUSTRY_TYPE=""


FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_CALLBACK_URL=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

PAYPAL_SANDBOX_CLIENT_ID=your_paypal_sandbox_client_id_here
PAYPAL_SANDBOX_CLIENT_SECRET=your_paypal_sandbox_client_secret_here
PAYPAL_SANDBOX_APP_ID=your_paypal_sandbox_app_id
PAYPAL_LIVE_CLIENT_ID=
PAYPAL_LIVE_CLIENT_SECRET=
PAYPAL_LIVE_APP_ID=
PAYPAL_PAYMENT_ACTION=
PAYPAL_CURRENCY=USD
PAYPAL_NOTIFY_URL=http://gateway.test/paypal/ipn
PAYPAL_LOCALE=en_GB
PAYPAL_VALIDATE_SSL=false


RAZORPAY_API_KEY=rzp_test_your_razorpay_key_here
RAZORPAY_API_SECRET=your_razorpay_secret_here

STRIPE_PUBLIC_KEY=pk_test_your_stripe_public_key_here
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key_here


IDR_EXCHANGE_RATE=14365.30
INR_EXCHANGE_RATE=74.85
NGN_EXCHANGE_RATE=409.91
ZAR_EXCHANGE_RATE=15.86
BRL_EXCHANGE_RATE=5.70

MIDTRANS_MERCHANT_ID=your_midtrans_merchant_id
MIDTRANS_SERVER_KEY=your_midtrans_server_key
MIDTRANS_CLIENT_KEY=your_midtrans_client_key
MIDTRANS_ENVAIRONTMENT=false

PF_MERCHANT_ID=your_payfast_merchant_id
PF_MERCHANT_KEY=your_payfast_merchant_key
PAYFAST_PASSPHRASE=your_payfast_passphrase
PF_ITN_URL=https://fundorex.test/donation-payfast

CASHFREE_APP_ID=your_cashfree_app_id
CASHFREE_SECRET_KEY=your_cashfree_secret_key

INSTAMOJO_CLIENT_ID=test_your_instamojo_client_id
INSTAMOJO_CLIENT_SECRET=test_your_instamojo_client_secret
INSTAMOJO_USERNAME=
INSTAMOJO_PASSWORD=

MERCADO_PAGO_CLIENT_ID=TEST-your_mercado_pago_client_id
MERCADO_PAGO_CLIENT_SECRET=TEST-your_mercado_pago_client_secret

SITE_GLOBAL_CURRENCY=USD
CASHFREE_TEST_MODE=true